


body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

    font-family: 'Poppins', sans-serif;
    

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    
}

h1{
    margin: 30px 0;
    font-size: 50px;
    color: black;
}

form{
    width: 500px;
   
}

.white-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 10px 100px;
    border-radius: 25px;

    margin: 50px 120px;
    width: min-content;

    
    background-color: white;
    color: gray
    
    
}

.title-container{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

   margin-bottom: 17px;
   
}

.title-input{
    
    margin: 0 40px 0 0;
   
    width: 20px;
}

.title-label{ 
    margin: 0 15px;
}

label{
    

    font-size: 30px;
}

input{
    color: black;
    height: 55px;
    
    margin-bottom: 30px;
    
    border: 0;
    width: 400px;

    font-size: 30px;
}

.checkbox-container{
    display: grid;
    grid-template-columns: 2;
}

.checkbox{
    margin: 0 0 0 15px;
    width: 30px
}

.button-container{
    display: flex;
    flex-direction: row;

    justify-content: center;
    

}

.button{
    border: 0;
    border-radius: 25px;
    width: 300px;
    margin: 15px;

    color: white;
    background: rgb(126,0,124);
    background: linear-gradient(90deg, rgba(126,0,124,1) 0%, rgba(213,10,10,1) 35%, rgba(222,132,0,1) 100%);;
}
