


body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

    font-family: 'Poppins', sans-serif;
    font-size: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    
    
}

.white-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 25px;
    border-radius: 25px;
    margin-top: 90px;
    margin-bottom: 90px;
    background-color: white;
    width: 1000px;
    
    color: gray
    
    
}

label{
    border: 0;
    margin: 0;
    padding: 0;
}

input{
    color: black;
    height: 110px;
    
    margin: 0px 30px;
    padding: 0;

    width: 1000px;

    font-size: 60px;
}

h1{
    font-size: 80px;
    color: black;
}